<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://ci-platform.inprod.ept.lu/jenkins2/fed/">
                        Jenkins
                    </a>
                </li>
                <li>
                    <a href="https://rancher.inprod.ept.lu">
                        Rancher
                    </a>
                </li>
                <li>
                    <a href="https://ci-platform.inprod.ept.lu/nexus">
                        Nexus
                    </a>
                </li>
                <li>
                    <a href="https://ci-platform.inprod.ept.lu/nexus3">
                        Nexus3
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            <small>
                v{{ version }}
                |
                &copy;
                POST Luxembourg
                |
                {{copyrightDate | date: 'yyyy'}}
            </small>
        </div>
    </div>
</footer>
