<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Mise en production archivées</h4>
                        <p class="card-category"> Liste des MEPs complétées et archivées</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-info">
                                <th>ID</th>
                                <th>Nom</th>
                                <th>Date</th>
                                <th>Statut</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>MyPost_v7.11.6</td>
                                    <td>06/05/19</td>
                                    <td>Archivée</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>MyPost_v7.11.5</td>
                                    <td>02/05/19</td>
                                    <td>Archivée</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>MyPost_v7.11.4</td>
                                    <td>26/04/19</td>
                                    <td>Archivée</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>MyPost_v7.11.3</td>
                                    <td>20/02/19</td>
                                    <td>Archivée</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
