<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title ">Mise en production en cours</h4>
                        <p class="card-category"> Liste des MEPs à compléter</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-warning">
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Projet</th>
                                <th>Version</th>
                                <th>Date de création</th>
                                <th>Date de modification</th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let mep of meps | async">
                                    <td>{{mep.id}}</td>
                                    <td>{{mep.name}}</td>
                                    <td>{{mep.project}}</td>
                                    <td>{{mep.version}}</td>
                                    <td>{{mep.creationDate}}</td>
                                    <td>{{mep.lastModificationDate}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
