<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title ">Mise en production en cours</h4>
                        <p class="card-category"> Liste des MEPs à compléter</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-warning">
                                <th>ID</th>
                                <th>Nom</th>
                                <th>Date</th>
                                <th>Statut</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>MyPost_v7.12.0</td>
                                    <td>18/05/19</td>
                                    <td>En préparation</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>MyPost_v7.11.8</td>
                                    <td>14/05/19</td>
                                    <td>En clôture</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>MyPost_v7.11.7</td>
                                    <td>10/05/19</td>
                                    <td>En clôture</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
